[Desktop Entry]
Type=Application
Name=Neutron VPN
Comment=Manage VPN connections with NetworkManager
Exec=neutron-vpn gui
Icon=io.github.pandabytez.neutron
Terminal=false
Categories=Network;
StartupNotify=true
StartupWMClass=io.github.pandabytez.neutron
Keywords=vpn;wireguard;network;neutron;
