[Desktop Entry]
Type=Application
Name=Neutron
Comment=Manage WireGuard connections with NetworkManager
Exec=neutron tui
Icon=io.github.pandabytez.neutron
Terminal=true
Categories=Network;
StartupNotify=true
StartupWMClass=io.github.pandabytez.neutron
Keywords=wireguard;network;neutron;
