[Desktop Entry]
Type=Application
Name=Zento
Comment=Manage VPN connections with NetworkManager
Exec=wireguard-manager gui
Icon=io.gitlab.zento_vpn_manager.zento
Terminal=false
Categories=Network;
StartupNotify=true
